.cards-destination > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (width >= 768px) {
  .cards-destination > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 992px) {
  .cards-destination > ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}

.cards-destination > ul > li {
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  background-color: var(--card-background);
  overflow: hidden;
}

.cards-destination .cards-destination-card-body {
  padding: 24px 24px 16px;
}

.cards-destination .cards-destination-card-body h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.cards-destination .cards-destination-card-body h3 a {
  color: var(--text-color);
  text-decoration: underline;
}

.cards-destination .cards-destination-card-body h3 a:hover {
  color: var(--link-color);
}

.cards-destination .cards-destination-card-body .cards-destination-location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: var(--body-font-size-s);
  font-weight: 600;
  color: var(--text-secondary-color);
  padding: 12px 0 0;
  margin: 0;
}

.cards-destination .cards-destination-card-body .cards-destination-location svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  fill: none;
  stroke: currentcolor;
  stroke-width: 2;
}

.cards-destination .cards-destination-card-image p {
  margin: 0;
}

.cards-destination .cards-destination-card-body p {
  font-size: var(--body-font-size-s);
  color: var(--text-secondary-color);
  margin-top: 0.25em;
}

.cards-destination .cards-destination-card-body p:not([class]) {
  padding-top: 12px;
}

.cards-destination .cards-destination-card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cards-destination .cards-destination-card-body ul li {
  font-size: var(--body-font-size-s);
  color: var(--text-secondary-color);
  padding: 0.25em 0;
  position: relative;
  padding-left: 1em;
}

.cards-destination .cards-destination-card-body ul li::before {
  content: '·';
  position: absolute;
  left: 0;
  font-weight: 700;
}

.cards-destination .cards-destination-card-image {
  line-height: 0;
}

.cards-destination > ul > li img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
