.table-weather {
  width: 100%;
}

.table-weather-scroll {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 8px;
}

.table-weather-scroll::-webkit-scrollbar {
  height: 4px;
}

.table-weather-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-stone-dark);
  border-radius: var(--radius-full);
}

.table-weather-card {
  flex: 0 0 auto;
  min-width: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  scroll-snap-align: start;
}

@media (width >= 900px) {
  .table-weather-card {
    min-width: 100px;
    width: 100px;
  }
}

.table-weather-temp {
  font-size: var(--body-font-size-m);
  font-weight: 600;
  color: var(--text-color);
}

.table-weather-month {
  font-size: var(--body-font-size-m);
  font-weight: 600;
  color: var(--text-color);
}
